

body {
    background-color: blue;
    color: yellow;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    margin-right: 10px;
    cursor: pointer;
    color: blue;
}

li:hover {
    text-decoration: underline;
}

.tab {
    display: none;
}

.active {
    display: block;
}