body {
    font-family: Arial, sans-serif;
    background-color: #4CD9E3; /* Twój niestandardowy kolor tła */
    color: #4D3D6D; /* Twój niestandardowy kolor tekstu */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    margin-right: 10px;
    cursor: pointer;
    color: #ECE449; /* Twój niestandardowy kolor tekstu przycisków */
}

li:hover {
    text-decoration: underline;
}

.tab {
    display: none;
}

.active {
    display: block;
}